.book-details {
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #0056b3;
}

.book-details-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.book-details-img img {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.book-details-info {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-details-item {
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.description,
.text-italic {
    font-size: 16px;
    color: #555;
    font-style: italic;
}

.add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    align-self: start;
}

.add-to-cart-button:hover {
    background-color: #218838;
}

.added-to-cart-message {
    color: green;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .book-details-content {
        grid-template-columns: 1fr;
    }

    .book-details-img img {
        max-height: 300px;
    }
}